{% for campyear in site.data.teaminfo%}
{% assign campname = campyear[0] | split: "-" %}
<div class="yearwrapper" >
<h1> {{ campname[0] }} {{ campname[1] }}</h1> 
<p>
Combined Dataset Links from {{ campyear[1].combineddata.datasamplelocation }} on {{ campyear[1].combineddata.datasampledate }} <br> Sensor(s) used: {{ campyear[1].combineddata.datasamplesensors }}:

{% if campyear[1].combineddata.files %}
<ul class="datalist">
  
  <li class="datalist"> Datasets: 
    {% for data in campyear[1].combineddata.files %}
  <a href="{{ data.url | relative_url }}"> [ {{ data.name }} ] </a> {% if data.description %} - {{ data.description }} {% endif %} &nbsp;
  
  {% endfor %}
</li>
</ul>
{% endif%}
</p>



{% for team in campyear[1].groups %}

  <div class="groupcontainer">
    

          
        <div class="groupinfo" >
          <h2>Group: {{ team.quadname }}</h2>
          {% if team.datasets %}
          
          <h3>Dataset Collection Location & Information: </h3>
          <p>
            {{ team.datasamplelocation}} on {{ team.datasampledate }} using senor(s): {{ team.datasamplesensors }}
          </p>

          
            <ul class="datalist">
              {% for teamdata in team.datasets %}
                <li class="datalist"> <strong> {{ teamdata.duo }} </strong> </li>
            
                {% for dataset in teamdata %}
                    {% if forloop.first %}
                    
                    {% else %}
                        {% assign samplename = dataset[0] | split: "_"  %}
                        <a href="{{ dataset[1] | relative_url }}">[ {{ samplename[0] |capitalize }} {{ samplename[1] }} ] </a>
                    {% endif %}

                {% endfor %}

                

            
              {% endfor %}


          </ul>
          {% endif %}
          <br>
          
        </div>
      
        <div class="groupimage-wrapper" >
          {% if team.teamposter %}
          <div class="groupimage" >
              <img src= "{{ team.teamposter | relative_url }}" >
              <caption>{{ team.quadname }}</caption>
          </div>
          {% endif %}

          {% if team.sensortype %}
          <div class="groupimage" >
            <img src= "{{ team.sensorposter| relative_url }}" >
            <caption>{{ team.sensortype }}</caption>
          </div>
          {% endif %}

          {% if team.pythonposter %}
          <div class="groupimage" >
            <img src= "{{ team.pythonposter | relative_url }}" >
            <caption>{{ team.pythontopic }}</caption>
          </div>
          {% endif %}
          
    </div>
      
      
      
      
      </div>
          {% endfor %}
          
  




</div>

{% endfor %}
