---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>

    {% include announcements.html %}
   
    {% include image.html url="{{ site.baseurl }}/_images/connected-1.jpeg" %}
    
    <br />

    <h2>Camp Description</h2>
    <p>{{ site.course_description }}</p>
    
    {{ content }}

    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2>Previous Offerings</h2>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <br>
    
</div>
